/*FORM PANEL*/
.center-panel {
    margin-top: 10px;
}

.center-panel .panel-heading {
    border-bottom: 1px solid #c9c9c9;
    padding: 10px 10px 20px;
    margin-bottom: 10px;
}

.panel-heading .btn {
    padding: 10px 50px;
}

.panel-body .submit {
    width: 200px;
}

/*TABLE*/

.btn-edit {
    width: 100px;
}

.btn + .btn {
    margin-left: 10px;
}

.inline-form {
    display: inline;
    margin-left: 5px;
}

.glyphicon {
    margin-right: 5px;
}

.modal-header h2{
    font-size: 16px;
}
