{% extends '@Admin/base.html.twig' %}

{% block title %}Admin Page{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <h1>Hello ADMIN</h1>

        <li><a href="{{ path('logout') }}">Logout</a></li>

    {% endif %}

{% endblock %}
