{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <div class="col-md-10">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% include 'admin/category/table.html.twig' %}

        {% include 'admin/category/confirm-modal.html.twig' %}
    </div>
{% endblock %}
