/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Lato');

/*BASE*/
body {
    font-family: 'Lato', sans-serif;

}

input[type="text"], input[type="password"] {
    padding: 20px;
    border-radius: 0;
}

/*BOOTSTRAP*/
.btn {
    border-radius: 0;
    width: 200px;
}

.table thead {
    background-color: #fcfeff;
    text-transform: uppercase;
}

.panel-table {
    margin-top: 40px;
}

.pagination {
    margin: 0;
}

label {
    text-transform: uppercase;
}
