{% extends 'admin/base.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="col-md-10">
        {% include 'admin/user/table.html.twig' %}
    </div>
{% endblock %}
